/* D:\Python\django\ONLINEPROFITPRO.RU\onlineprofitpro\blog\static\admin\css\custom_admin.css */
:root {
  /* высота картинки в посте max-height так-же min высота <div> с малым объемом контекста*/
  --height_Hh: 240px;
  /*Цветовая колекция*/
  --color11: #6ACFC8;
  --color12: #629B97;
  --color13: #22877F;
  --color14: #92E7E1;
  --color15: #A9E7E2;
  --color16: #C2F3EF;
  --color17: #e2faf8;
  --colorA11: #7897D5;
  --colorA12: #6B7DA0;
  --colorA13: #27488B;
  --colorA14: #9DB7EA;
  --colorA15: #B2C5EA;
  --colorB11: #82E877;
  --colorB12: #75AE6F;
  --colorB13: #319727;
  --colorB14: #A3F49B;
  --colorB15: #B9F4B2;
  --color21: #0C1A1A;
  --color22: #0C1414;
  --color23: #041111;
  --color24: #548D8D;
  --color25: #638D8D;
  --colorA21: #0F131D;
  --colorA22: #0E1016;
  --colorA23: #050913;
  --colorA24: #5B6A8E;
  --colorA25: #68748E;
  --colorB21: #102310;
  --colorB22: #101A10;
  --colorB23: #051705;
  --colorB24: #569156;
  --colorB25: #669166;
}

/* Set the font family for the body */
body {
    font-family: 'Roboto', sans-serif;
    background:var(--color16);
}

/* Set the font family for the headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}
/* Set 'Roboto' font for buttons */
button, input[type="button"], input[type="submit"] {
    font-family: 'Roboto', sans-serif;
}

/* Set 'Roboto' font for form input fields */
input[type="text"], input[type="password"], input[type="email"], textarea {
    font-family: 'Roboto', sans-serif;
}
form {
    font-family: 'Roboto'; /* Use the font specified in the body */
}

.text-align-left {
  text-align: left;
  text-indent: 10px;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.text-align-justify {
  text-align: justify;
}

.img-left {
  display: block;
  float: left;
  max-width: 15%;
  max-height: 70%;
  /* max-height: var(--height_Hh); */
  margin: 4px 10px 6px 4px;
  /*border-radius: 10px;   Скругление углов изображения */
  /* border: 1px solid var(--colorA15);  Цвет и ширину рамки */
  box-shadow: 2px 1px 5px #999999;  /* Цвет и размер тени */
  padding: 6px;
}

.img-right {
  float: right;
  display: block;
  max-width: 15%;
  max-height: 70%;
  /* max-height: var(--height_Hh); */
  margin: 4px 10px 6px 4px;
  /*border-radius: 10px;   Скругление углов изображения */
  /* border: 1px solid var(--colorA15);  Цвет и ширину рамки */
  box-shadow: 2px 1px 5px #999999;  /* Цвет и размер тени */
  padding: 6px;
}

.with-image {
  min-height: var(--height_Hh);
  /* Adjust the value as needed based on your image height */
}

.block {
  /*background-color: #aaf7e4;*/
  border: solid 1px #1f1b1b;
  /*padding: 20px;*/
  margin: 0 0 20px;/**/
  text-align: center;
  min-height: 200px;
  color: #050913;
}