{% extends 'blog/base.html' %}

{% block title %}
{{ post.title }}{{ block.super }}
{%endblock%}

{% block content %}
<h1>{{post.title}}</h1>

{% for part in post.content_parts.all %}
<div class="{{ part.css_text.class_css }}{% if part.css_media %} with-image{% endif %}">
     {% if part.css_media and part.media_file %}
     <img src="{{ part.media_file.url }}" alt="Image" class="{{ part.css_media.class_css }}">
     {% endif %}
     {% if part.css_text %}
     {{part.content_text}}
     {% endif %}
</div>
{% endfor %}
<form action="{% url 'add_post_block' post.slug %}" method="post" enctype="multipart/form-data">
     {% csrf_token %}
     {{ post_content_form.as_p }}
     <button type="submit" class="btn btn-primary">Add Post Block</button>
     <button type="submit" name="submit" class="btn btn-primary">Submit</button>
</form>
{%endblock%}
