<!-- D:\Python\django\ONLINEPROFITPRO.RU\onlineprofitpro\blog\templates\blog\base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text\html; charset=utf-8" />
    <!-- <meta charset="utf-8"/> -->
    <title>{% block title %}{{title}}{% endblock %}</title>
    <link
      rel="shortcut icon"
      href="{% static 'blog/img/main.ico' %}"
      type="image/x-icon"
    />

    <link rel="stylesheet" href="{% static 'blog\css\bootstrap.min.css' %}" />
    <link
      type="text/css"
      href="{% static 'admin\css\custom_admin.css' %}"
      rel="stylesheet"
    />
    <link
      type="text/css"
      href="{% static 'blog\css\styles.css' %}"
      rel="stylesheet"
    />
  </head>
  <!-- шапка Блога -->
  <!-- <header>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-6 col-sm-12">
                <h1 class="text-start color4">Elvand</h1>
            </div>
            <div class="col-xl-8 col-md-10 col-sm-12 color5">
                {% block mainmenu %}
                <ul>
                    {% for m in menu %}
                    <li>{{m}}</li>
                    {% endfor %}
                </ul>
                {% endblock mainmenu %}

            </div>
        </div>
    </div>
  </header> -->
  <body>
    <div class="container-fluid mx-auto">
      <section class="row gy-3">
        <div class="col-md-2 gy-3">
          <div class="block">Меню Блога</div>
          <div class="block">Рекламный блок</div>
          <div class="block">блок-Погода</div>
          <div class="block">Рекламный блок</div>
        </div>
        <div class="col-md-8">
          <div class="">{% block content %} {% endblock %}</div>
        </div>
        <div class="col-md-2">
          <div class="block">Рекламный блок</div>
          <div class="block">блок-Гороскоп</div>
          <div class="block">Рекламный блок</div>
          <div class="block">блок-Курсы валют</div>
        </div>
      </section>
    </div>
    
    <footer id="footer">footer-footer-footer</footer>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
  </body>
</html>
