<!-- D:\Python\django\ONLINEPROFITPRO.RU\onlineprofitpro\blog\templates\blog\home.html -->

{% extends 'blog/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

    {% for preview in post_previews %}
    <div class="row header_post">
        <div class="col-md-6 col-sm-12 text-start">{{ preview.post.subcat }}</div>
        <div class="col-md-6 text-end col-sm-12 text-start">{{ preview.post.time_update}}</div>
    </div>
    <!-- Post text and thumbnail -->
    <div class="image-container">
        {% if preview.media_file %}
        <img src="{{ preview.media_file.url }}" alt="Image"
             class="img-responsive {% if preview.css_media_class %}{{ preview.css_media_class }}{% endif %}">
        {% endif %}
        <h2>{{ preview.post.title }}</h2>
        {% if preview.content_text %}
        {% autoescape on %}
        <p>{{preview.content_text|linebreaks|truncatewords:50}}</p>
        {%endautoescape%}
        {% endif %}
    </div>
    <div class="text-end">
        <a href="{% url 'post_detail' preview.post.slug %}" class="btn mt-2"
        >Читать пост</a>
    </div>
    <hr>
    {% endfor %}
{%endblock%}