<!-- D:\Python\django\ONLINEPROFITPRO.RU\onlineprofitpro\blog\templates\blog\home.html -->

{% extends 'blog/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

{% for preview in post_previews %}
<div class="row align-items-stretch d-flex header_post">
    <div class="col-md-6 col-sm-12 text-start">{{ preview.post.subcat }}</div>
    <div class="col-md-6 text-end col-sm-12 text-start">{{ preview.post.time_update}}</div>
</div>
<!-- Post text and thumbnail -->
<div class="{{ part.css_text.class_css }}">
    {% if preview.image_file and preview.css_image_class %}
    <img src="{{ preview.image_file.url }}" alt="Image" class="{{ preview.css_image_class }}"
         style="{{ preview.css_image_style }}">
    {% endif %}

    <h2>{{ preview.post.title }}</h2>
    {% if preview.content_text %}
    {% autoescape off %}
    {{ preview.content_text|linebreaks }}  <!-- Применение linebreaks здесь -->
    {% endautoescape %}
    {% endif %}
</div>
<div class="row align-items-stretch d-flex">
    <div class="col-md-8 col-sm-12 mt-auto">
        {% if preview.user and not preview.user.is_superuser %}
        <div class="author-info">
            Author: {{ preview.user.first_name }} {{ preview.user.last_name }} ({{ preview.user.username }})
        </div>
        {% endif %}
    </div>
    <div class="col-md-4 col-sm-12 text-end">
        <a href="{% url 'post_detail' preview.post.slug %}" class="btn btn-primary mt-2"
        >Read post</a>
    </div>
</div>
<hr>
{% endfor %}
{%endblock%}
