
.blog-post {
display: block;
max-width: 100%;
min-height: 100%;
}

.header_post {
background-color: var(--color11);
border-radius: 7px;
padding: 8px;
}

.image-container {
    height: auto; /* Установите высоту на автоматическую настройку в зависимости от содержимого. */
    overflow: hidden; /* Предотвратите переполнение изображения */
}

/* Button Styles */
.btn {
  border: 1px solid var(--colorB24);
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 7px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--color13);
  color: var(--colorB15);
}
.btn:hover {
  background-color: var(--color11);
  border: 1px solid var(--color25);
  color: var(--color16);
}

footer,
section {
  padding: 30px 0;
}

header,
footer {
  /* font-family: 'Times New Roman', Times, serif;  Гарнитура текста */
  font-size: 120%;  /* Размер шрифта в процентах */
  color: var(--color15);
  background: url(../img/pattern.png), var(--colorA23);
  background: url(../img/pattern.png),
    -moz-linear-gradient(left, var(--colorA23) 0%, var(--color13) 100%);
  background: url(../img/pattern.png),
    -webkit-linear-gradient(left, var(--colorA23) 0%, var(--color13) 100%);
  background: url(../img/pattern.png),
    linear-gradient(to right, var(--colorA23) 0%, var(--color13) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--colorA23), endColorstr=var(--color13), GradientType=1);
  background-size: contain;
}

/*+++++ Горизонтальное главное меню Блога +++++*/
/* Стилизация ссылок на любой контрастный цвет. */
.navbar a {
    color: var(--color14);  /* Установите цвет подписи ссылок */
    text-decoration: none;  /* Удалить подчеркивание в ссылках */
    }

/* Наведения для ссылок */
.navbar a:hover {
    color: var(--color16);  /* Установите цвет наведения для ссылок */
    font-weight: bold;      /* Сделать жирным */
    text-decoration: underline;  /* Добавьте подчеркивание при наведении */
}

/* Установите цвет посещенных ссылок
.navbar a:visited {
    color: var(--colorB15);
    }*/

/* Цвет, стиль активных ссылок, если нужно */
.navbar a:active {
    color: var(--colorB15);
    }


/*++++++++++++++++++++++++++++++++++++*/
/*+++++ Вертикальное меню Постов +++++*/
.vert_nav {
    font-size: 110%; /* Размер шрифта в процентах */
    overflow: hidden; /* полосы прокрутки не предоставляются */
    background:var(--color15);
    /*border: 1px solid var(--color21);*/
    border-radius: 7px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.5); Параметры тени */
    box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.25);
    /*padding: 5px 0 3px 0;*/
    margin: 0 0 50px;
    }


/* Стилизация ссылок на любой контрастный цвет. */
.vert_nav a {
    color:var(--color22);  /* Установите цвет подписи ссылок на белый или любой контрастный цвет. */
    text-decoration: none;  /* Удалить подчеркивание в ссылках */
    }

/* Удаление маркеров */
.vert_nav li {
    list-style-type: none; /* Нет маркеров */
    }

/* Наведения для ссылок */
.vert_nav a:hover {
    color: var(--color23);  /* Установите цвет наведения для ссылок */
    font-weight: bold;      /* Сделать жирным */
    /*font-size: 105%;  увеличить размер шрифта на 5% */
    text-decoration: underline;  /* Добавьте подчеркивание при наведении, если хотите */
    }

/* Цвет, стиль активных ссылок, если нужно */
.vert_nav a:active {
  color: var(--colorB15);
  font-weight: bold;      /* Сделать жирным */
}

/* Цвет посещенных ссылок, если это необходимо
.vert_nav a:visited {
    color: var(--colorB15);
    }*/
/*++++++++++++++++++++++++++++++++++++*/

/*+++++ стилизация форм +++++*/
/* Adjust input and select width to 100% */
.form-control, .form-select,
.form-textarea,
.form-textinput, .fileinpu{
    width: 100%;
    }


/*=======================================*/
