{% extends 'admin/change_form.html' %}

{% block content %}
  <div class="form-row">
    <div class="form-column">
      {{ form.content_text.label_tag }} {{ form.content_text }}
      {{ form.css_text.label_tag }} {{ form.css_text }}
    </div>
    <div class="form-column">
      {{ form.image_file.label_tag }} {{ form.image_file }}
      {{ form.css_image.label_tag }} {{ form.css_image }}
    </div>
    <div class="form-column">
      {{ form.media_file.label_tag }} {{ form.media_file }}
      {{ form.css_media.label_tag }} {{ form.css_media }}
    </div>
  </div>
  {{ block.super }}
{% endblock %}
